@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
    font-size: 20px;
    line-height: 26px;
}
/* верхняя навигация*/
.navigation-link {
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.navigation-link-button {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color:#756257;
    text-decoration: none;
}

/*основной блок*/
/*.main-index {
    text-align: center;
    
  }*/

.main-index-mountain {
    background-image: url("images/index-background.jpg"); /* Не понимаю почему не отображает картинку*/
        background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #83B3D3;
  }
  
.advantages-head {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

.advantages-head-description {
    font-size: 22px;
    line-height: 36px;
    color: #333333;
  }

.advantages-title {
    text-transform: uppercase;
  }
/*.page-footer {

}*/
  /*футер-сервис*/

.services {
    line-height: 36px;

}
.services-title  {
    font-size: 30px;
    text-transform: uppercase;
}

.services-name {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.services-button {
    font-size: 20px;
    color: #ffffff;
    background-color:#756257;
    text-decoration: none;
}

/*футер-рассылка*/
.newsletter {
    background-image: url("images/background.jpg"); /* Не понимаю почему не отображает картинку*/
        background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #83B3D3;
}
.page-footer-title {
    font-size: 30px;
    text-transform: uppercase;
}
.footer-description {
    font-size: 22px;
    line-height: 26px;
}
.newsletter-email {
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
}

.newsletter-button { 
    font-size: 20px;
    color: #ffffff;
    background-color: #83B3D3;
    text-transform: uppercase;
    text-decoration: none;
}
/*футер-соцсети*/

.contacts-phone{
    ont-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

/*.footer-contacts {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}*/

/*каталог*/
.main-inner {
    text-align: Left;

}

.main-inner-filter {
    background-image: url("images/catalog-background-1.jpg"); /* Не понимаю почему не отображает картинку*/
        background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: #83B3D3;
    
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px
}

.catalog-filter-group {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background-color: #83B3D3;
}

.control-input {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    background-color: #83B3D3;
    
}

.button-submit {
    color: #ffffff;
    background-color: #83B3D3;
    text-transform: uppercase;
    text-decoration: none;
}

.catalog-filter-quantity {
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
}

.select-control {
    font-size: 18px;
    line-height: 23px;
    color:#333333;
}

.button-button-light {
    text-align: center;
    text-decoration: none;
}

.hotel-card {
    font-size: 18px;
    line-height: 23px;
    color:#333333;
    
}

.hotel-card-link {
    text-decoration: none;
    font-size: 24px;
    line-height: 31px;
    color:#000000;
}

.hotel-card-button-button-favourites {
    font-size: 16px;
    line-height: 20px;
    color:#ffffff;
    background-color: #83B3D3;
    text-transform: uppercase;
    text-decoration: none;
}

.hotel-card-button-button-detail {
    font-size: 16px;
    line-height: 20px;
    color:#ffffff;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
}

.catalog-astra-rating {
    font-size: 16px;
    line-height: 20px;
    color:#333333;
    background-color: #f2f2f2;
    text-transform: uppercase;
    text-decoration: none;
}

/* пагинация */
.pagination {
    background-color: #f2f2f2;
  }
  
  .pagination-link {
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    line-height: 26px;
    font-weight: 700;
  }
  
  .pagination-current {
    color: #000000;
    background-color: #f2f2f2;
  }
  
  .pagination-disabled {
    background-color: #595959;
  }
  